html,
body {
	font-family: 'Proxima Nova';
	color: $white;
	font-size: 16px;
	line-height: 140%;

	background-color: $bg;
}

.container {
	max-width: 1295px;
	margin-left: auto;
	margin-right: auto;

	&--small {
		max-width: 1075px;
		margin-left: auto;
		margin-right: auto;
	}

	&--big {
		max-width: 1735px;
		margin-left: auto;
		margin-right: auto;
	}

	&--fluid {
		max-width: unset;
		width: 100%;
	}

	&--no-padding {
		padding: 0;
	}
}

.none {
	display: none;
}
