.slick-arrow {
	position: absolute;
	top: 50%;
}

.slick-next {
	left: 0;
}

.slick-prev {
	right: 0;
}

.slick-track {
	display: flex;
}

.slick-list {
	overflow: hidden;
}

.slider {
	position: relative;
}

.slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;

	& li {
		list-style: none;
		margin: 0px 10px;
		margin-top: 60px;
	}

	& button {
		font-size: 0;
		width: 16px;
		height: 16px;
		background: rgba($color: #FFFFFF, $alpha: 0.4);
		border-radius: 3px;
	}
}

.slick-active button {
	background: rgba($color: #FFFFFF, $alpha: 1);
	width: 16px;
	height: 16px;
	border-radius: 3px;
}